.main-container{
    font-family: 'Baloo Bhai 2', cursive;
}
.content-container{
    display: flex;
    justify-content: space-between;
}
.review-container{
    margin-top: 20px;
}
.heading-title{
    color: rgb(121, 84, 253);
    font-size: 40px;
}
.title{
    color: darkturquoise;
    font-size: 50px;
}
.review-container h3{
    margin-bottom: 0px;
}
.review-container p{   
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
}

.btn-buy{
    padding: 10px;
    height: 70px;
    width: 250px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: rgb(245, 238, 143);
    cursor: pointer;
    
}
.btn-buy a{
    text-decoration: none;
    font-family: 'Baloo Bhai 2';
}

.btn-title{
    font-size: 25px;
    color: rgb(3, 92, 112);
}

.btn-buy:hover{
    background-color: rgb(182, 173, 52);
}

.img-container img{
    height: 500px;
    width: 600px;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

.customer-review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 5px;
}
.btn-review{
    padding: 10px;
    height: 50px;
    width: 150px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: rgb(245, 238, 143);
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-review a{
    text-decoration: none;
    font-family: 'Baloo Bhai 2';
}
.btn-review:hover{
    background-color: rgb(182, 173, 52);
}

@media only screen and (max-width:767px){
    .main-container{
        margin-left: 0;
        padding-left: 0;
    }
    .content-container{
        display: grid;
        grid-template-columns: 1;
    }
    .heading-title{
        padding-top: 10px;
        font-size: 25px;
        margin-left: 5px;
        padding: auto;
    }
    .title{
        margin-top: 2px;
        font-size: 30px;
    }
    .review-container p{
        font-size: 16px;
        padding-left: 0;
        margin-left: 0;
    }
    .img-container{
        margin-top: 30px;
        padding: 20px;
    }
    .img-container img{
        height: 400px;
        width: 400px;
        
    }
    .customer-review-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .content-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: auto;
    }
}